.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110vh; // Remplit la hauteur de la fenêtre

  padding-top : 7rem;
  margin : 0 auto;
  width: 100%;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .filterMenu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
    align-items: center;

    label {
      font-size: 1.2rem;
      font-weight: 500;
    }

    select {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: 1px solid #f52c16;
      border-radius: 5px;
      background-color: white;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
    }
  }

 
  
  .productsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
    justify-content: center;
  }
  
 

}
  