.highTechContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0e0d0d;
  background-image: url("https://images.unsplash.com/photo-1676676701271-2215e1aff488?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 4%;
  padding-top: 12rem;

  img {
    width: 13rem;
    height: auto;
    margin-bottom: 20px;
    animation: pulse infinite;
    -webkit-animation: pulse 12s infinite;
    position: absolute;
    right: 17%;
    top: 40%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  h1 {
    color: #f1a0ff;
    font-size: 4rem;
    margin-bottom: 3rem;
    // background-color: rgba(255, 255, 255, 0.88);
    font-weight: 700;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
  }

  .aboutDescription {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 2rem;
      line-height: 1.7rem;
      font-weight: 400;
    }
  }
}


@media (max-width: 1340px) {
  .aboutContainer {
    padding-top: 9rem;
    padding-left: 4%;
    padding-right: 4%;
 
    img {
      width: 15rem;
      right: 10%;
      top: 40%;
      
    }
  .aboutDescription {
    width: 65%;
  }
} }



@media (max-width: 1024px) {
  .aboutContainer {
    padding-top: 9rem;
    padding-left: 4%;
    padding-right: 4%;

    img {
      width: 10rem;
      right: 10%;
      top: 30%;
      display: none;
    }

    h1 {
      font-size: 2.3rem;
      font-weight: 600;
    }

    .aboutDescription {
      width: 80%;

      p {
        font-size: 1.1rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media (max-width: 900px) { 
  .aboutContainer {
    padding-top: 9rem;
    padding-left: 4%;
    padding-right: 4%;
    background-position : center;

 

    h1 {
      font-size: 2.3rem;
      font-weight: 600;
    }

    .aboutDescription {
      width: 100%;

      p {
        font-size: 1rem;
      
      }
    }
  }
}
