.albumContainer {
  padding-top: 4rem;

  margin: 0 auto;
  min-height: 100vh;

  .hero {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 2rem;
   
  }
  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
 

  }
  
  .heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .heroTitle {
    color: #fff;
    font-size: 3rem;
    font-family: 'cinzel', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-weight: 700;
  }
  

  .photoGrid {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5rem;
  }

  .photoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .photoImage {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: relative;
    text-align: center;
  }
  
  .modalImage {
    max-width: 90%;
    max-height: 80%;
  }
  
  .closeButton,
  .prevButton,
  .nextButton {
    position: absolute;
    background-color: inherit;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color : rgb(201, 201, 201);
  }
  
  .closeButton {
    top: 10px;
    right: 10px;
    color : grey;
  }
  
  .prevButton {
    left: 00px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nextButton {
    right: 00px;
    top: 50%;
    transform: translateY(-50%);
  }
  

  p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  button {
    margin: 2rem auto;
    padding: 0.5rem 4rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--sunset2);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    float : right ;
  }
}
