.albumContainer {
  padding-top: 6rem;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;

  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .photoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.5rem;
  }

  .photoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .photoImage {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
